<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer one</title>
    <link rel="stylesheet" href="../../../style/global.css">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <div
             class="content-info">

                <img src="../../../assets/img/Logo.png" alt="">

                <h3>
                    Join our newsletter to stay up to date on features and releases.
                </h3>
                <div class="content-wrapper>
                <form action="form">
                    <input type="email" placeholder="enter your email">
                    <button type="submit">Subscribe</button>
                </form>
                </div>
                <p>
                    By subscribing you agree to with our Privacy Policy and provide consent to receive updates from our company.
                </p>
            </div>
            <div class="content-nav">
                <div class="Column One">
                    <h3>Column One</h3>
                    <nav>
                    <a href="">Link one</a>
                    <a href="">Link two</a>
                    <a href="">Link three</a>
                    <a href="">Link Four</a>
                    <a href="">Link Five</a>
                    </nav>
                </div>
                <div class="Column Two">
                    <h3>Column Two</h3>
                    <nav>
                    <a href="">Link six</a>
                    <a href="">Link seven</a>
                    <a href="">Link Eight</a>
                    <a href="">Link Nine</a>
                    <a href="">Link Ten</a>
                    </nav>
                </div>
                <div class="social media">
                    <h3> follow us</h3>
                    <nav>
                        <a href="">
                            <img src="../../../assets/img/facebook.svg" alt="">
                            <p>Facebook</p>
                        </a>
                        <a href="">
                            <img src="../../../assets/img/instagram.svg" alt="">
                            <p>instagram</p>
                        </a>
                        <a href="">
                            <img src="../../../assets/img/x.svg" alt="">
                            <p>X</p>
                        </a>
                        <a href="">
                            <img src="../../../assets/img/Linkedin.svg" alt="">
                            <p>LinkedIn</p>
                        </a>
                        <a href="">
                            <img src="../../../assets/img/Youtube.svg" alt="">
                            <p>Youtube</p>
                        </a>
                    </nav>

                </div>

            </div>
        </div>

        <div class="footer-bottom">

            <p>© 2023 Relume. All rights reserved.</p>
            <nav class="nav-terms">
                <a href="">Privacy Policy</a>
                <a href="">Terms of Service</a>
                <a href="">Cookies Settings</a>
            </nav>
        </div>
    </footer>
</body>
</html>